<h1>
    Functions
</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">List</th>
            <th scope="col">Add</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a class="btn btn-primary" asp-controller="User" asp-action="ViewUserInfo">Users List</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="User" asp-action="AddUser">Add User</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="User" asp-action="DeleteUser">Delete User</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="User" asp-action="ModifyUserInfo">Update Users</a>
            </td>
            
        </tr>
        <tr>
            
            <td>
                <a class="btn btn-primary" asp-controller="Income" asp-action="ListIncomeInfo">List Incomes</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Income" asp-action="AddIncome">Add Income</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Income" asp-action="DeleteIncome">Delete Income</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Income" asp-action="ModifyIncome">Update Income</a>
            </td>
        </tr>
        <tr>
            
            <td>
                <a class="btn btn-primary" asp-controller="Expenditure" asp-action="ListExpenditureInfo">List Expenditure</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Expenditure" asp-action="AddExpenditure">Add Expenditure</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Expenditure" asp-action="DeleteExpenditure">Delete Expenditure</a>
            </td>
            <td>
                <a class="btn btn-primary" asp-controller="Expenditure" asp-action="ModifyExpenditure">Update Expenditure</a>
            </td>
            
            
        </tr>
    </tbody>
</table>

